<!DOCTYPE html>
<html lang="en-US">
<head>
<title>FUNDORA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" media="all" href="../style.css" />

</head>

<body class="home-narrative">
<a class="skip-to-content" href="#main-content-marker">Skip to content</a>

<header>
    <div class="masthead">
        <h1><a class="identity-logo product" href="#">Fundora</a></h1>
        <button class="expand-menu">Menu</button>
        <nav class="primary-menu">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>
        
    </div>
    <div class="explore-panel">    
</header>

<span id="main-content-marker"></span>

<main>
    
</body>
</html>
