{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Loan Management</title> -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="SignIn">
  <div class="Rectangle133"></div>
  <!-- <img class="Image36" src="https://via.placeholder.com/1920x1080" /> -->
  <div class="StHeader"></div>
  <div class="SignInToIcargoPacific">
      <span class="main-text">Sign in to </span>
      <span class="highlight-text">Fundora</span>
  </div>
  <div class="Password">Password</div>
  <div class="Rectangle50"></div>
  <div class="Rectangle134"></div>
  <div class="Email">Email</div>
  <div class="ForgotPassword">Forgot Password?</div>
  <div class="DonTHaveAnAccountYetSignUpNow">
      <span class="sub-text">Don’t have an account yet?</span>
      <span class="link-text"> Sign up now.</span>
  </div>
  <div class="Rectangle46"></div>
  <div class="Rectangle47"></div>
  <div class="SignInButton">Sign In</div>
  <div class="BackButton">Back</div>
</div>
</body>
</html>